body {
	background-color: #444444;
}

div {
	display: flex;
	flex-direction: column;
}

.main-container {
	flex-direction: row;
	width: 100%;
	max-width: 1200px;
}

#canvasGL {
	border: 2px solid black;
}

.params-container {
	margin-left: 50px; 
	width: 100%;
	max-width: 200px;
}

.luts-wrapper {
	width: 100%;
	max-width: 200px;
}

.buttons-wrapper {
	width: 100%;
	max-width: 200px;
}

.load-button {
	width: 100%;
	padding: 10px 5px;
	text-align: center;
	border: 2px solid black;
	background-color: white;
	cursor: pointer;
	margin: 10px 0;
	font-size: 18px;
	font-family: monospace;
}

.load-button:hover {
	background-color: gray;
}